:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-family: "Spartan", "https://fonts.google.com/specimen/Spartan";
}

.container {
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  // .flex-item {
  //   flex-grow: 1;
  //   // flex-shrink: 1;
  //   flex-basis: 600px;
  // }

  .info {
    flex-basis: 261px;
    text-align: center;
    h3 {
      font-size: 2rem;
      color: var(--very-dark-magenta);
    }

    p {
      font-size: 0.8rem;
      color: var(--dark-grayish-magenta);
      font-weight: 500;
    }
  }

  .ratings {
    flex-basis: 400px;
    &-card {
      padding: 10px;
      margin: 10px;
      border-radius: 10px;
      display: flex;

      background-color: var(--light-grayish-magenta);
      .stars {
        display: flex;
        align-items: center;
        padding: 0px 10px;
      }

      p {
        color: var(--very-dark-magenta);
        font-weight: 500;
        word-wrap: keep-all;
        margin-left: 15px;
        font-size: 13px;
      }
    }
  }

  .review-cards {
    display: flex;
    flex-wrap: wrap;

    .card {
      background-color: var(--very-dark-magenta);
      color: white;
      margin: 10px;
      border-radius: 10px;
      text-align: start;
      padding: 40px;
      flex: 1 0 200px;
      section {
        display: inline-flex;

        .card-buyer {
          margin-left: 15px;
        }
      }
      img {
        border-radius: 50%;
      }
      span {
        color: var(--soft-pink);
      }
    }
  }
}
$breakpoint-tablet: 1025px;
@media (min-width: $breakpoint-tablet) {
  .container {
    margin: 0px 150px;
    justify-content: space-between;
  }
  .container > .info {
    text-align: left;
  }

  div.ratings {
    .card1 {
      position: relative;
      right: 20%;
    }
    .card2 {
      position: relative;
      right: 10%;
    }
  }
  div.review-cards {
    .card2 {
      position: relative;
      top: 20px;
    }
    .card3 {
      position: relative;
      top: 40px;
    }
  }
}
